
body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

#nav-bar {
   background-color: #00a087;
   height: 80px;
   left: 0;
   padding: 0em 2em 0em 3em;
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
 }

 #nav-bar .logo {
   float: left;
   height: 80px;
 }

 #nav-bar .header {
   color: #e8fdff;
   float: left;
   font-size: 36px;
   line-height: 80px;
   margin: 0px;
   padding: 0px 0px 0px 10px;
 }